<!-- container-scroller -->
<!-- plugins:js -->
{load href="__PURPLEADMIN__vendors/js/vendor.bundle.base.js" /}
{load href="__PURPLEADMIN__vendors/js/vendor.bundle.addons.js" /}
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
{load href="__PURPLEADMIN__js/off-canvas.js" /}
{load href="__PURPLEADMIN__js/misc.js" /}
<!-- endinject -->
<!-- Custom js for this page-->
{load href="__PURPLEADMIN__js/dashboard.js" /}
<!-- End custom js for this page-->